@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab&display=swap');
:root {
    --primary-color: #201e50;
    --secondary-color: #FFFFFF;
    --accent1-color: #fca65f;
    --accent2-color: #0096E0;

    --heading-font: 'permanent marker', serif;
    --paragraph-font: 'Roboto Slab-latin', serif;

    --nav-background-color: #0096e0;
    --nav-link-color: #FFFFFF; 
    --nav-hover-link-color: #fca65f;
    --nav-hover-background-color: #201e50;
}

body {
    font-family: 1em var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    padding: 5px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);

}
.hero {
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: -20px;
    left: 225px;
}
.hero article {
    position: absolute;
    max-width: 90%;
    height: auto;
    top: 40px;
    left: 0;
    right: 0;
    margin:0 auto;
    background-color: #0096E0;
    opacity: 70%;

}

.hero article img{
    float: right;
    width: 300px;

}
.hero article p {

}

footer img{
    width: 100%;
}
