@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab&display=swap');
:root {
    --primary-color: #201e50;
    --secondary-color: #FFFFFF;
    --accent1-color: #fca65f;
    --accent2-color: #0096e0;

    --heading-font: 'permanent marker', serif;
    --paragraph-font: 'Roboto Slab-latin', serif;

    --nav-background-color: #0096e0;
    --nav-link-color: #FFFFFF; 
    --nav-hover-link-color: #fca65f;
    --nav-hover-background-color: #201e50;
}

body {
    font-family: 1em var(--paragraph-font);
    max-width: 960px;
    height: 100%;
    padding: 20px;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p{
    padding: 5px;
    margin: 0;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0%;
    margin: 0;
    
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
    text-align: right;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover{
    color: var(--nav-hover-link-color);

}
.hero {
    position: relative;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
}
.hero h1{
    position: absolute;
    top: -20px;
    left: 225px;
    color: #ffffffcc;
}
.hero article {
    position: absolute;
    max-width: 90%;
    height: auto;
    top: 40px;
    left: 0;
    right: 0;
    margin:0 auto;
    background-color: #eacebf;
    opacity: 70%;

}

.hero article img{
    float: right;
    width: 300px;

}

footer img{
    width: 5%;
    float: right;
}




header{
    margin: 1rem auto;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;

}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 130px;
    height: auto;
}

figure{
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 220px;
    margin: auto;
}
section{
    display: flex;
    justify-content: center;
}
figure img{
    max-width: 220px;
    max-height: 150px;
      
}

figcaption {
    background-color: #fafafa;
    color: #0d0101;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;}
 form{
    margin-top: -30%;
 }
h3{
    margin-top: -35%;
}
.home_hero {
    position: relative;
}
.home_hero img{
    display: block;
    width: 100%;
    height: auto;
}
.home_hero h1{
    position: absolute;
    top: -20px;
    left: 80px;
    color: #ffffffcc;
}
.home_hero article {
    position: absolute;
    max-width: 90%;
    height: auto;
    top: 130px;
    left: 0;
    right: 0;
    margin:0 auto;
    background-color: #eacebf;
    opacity: 70%;

}

.home_hero article img{
    float: right;
    width: 300px;

}