@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto+Slab&display=swap');
:root {
    --primary-color: #201e50;
    --secondary-color: #fCA65F;
    --accent1-color: #FFFFFF;
    --accent2-color: #0096E0;

    --heading-font: 'permanent marker', serif;
    --paragraph-font: 'Roboto Slab-latin', serif;
    --nav-background-color: #201e50;
    --nav-link-color: #fCA65f; 
    --nav-hover-link-color: #FFFFFF;
    --nav-hover-background-color: #0096E0;
}

body {
    font: 1em sans-serif;
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header{
    padding: 20px;
    background-color: var(--accent1-color);
}

p{
    padding: 25px;
}

nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color)
    var(--nav-hover-background-color);
}